$text-main: #17242A;
$text-secondary: #D5D7D6;

.calendar {
    background-color: #FFFFFF;
    color: $text-secondary;
    padding: 5% 5%;
    font-weight: bold;
}

.month-nav {
    text-align: center;
    cursor: pointer;
}

.month-nav__btn {
    margin: 0 2rem;
}

.calendar__year {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
}

.calendar__day-labels {
    @include flex($justify: space-between);
    text-align: center;
}

.calendar__day-name {
    flex: 1;
    margin: 3rem 1rem;
    color: $text-main;
}

.calendar__week {
    @extend .calendar__day-labels;
}

.calendar__weekday {
    flex: 1;
    margin: 1rem 2rem;
}

.calendar__thismonth {
    color: $text-main;
}

.calendar__today {
    border: 2px solid $text-main;
}